/* app css stylesheet */
*, ::after, ::before{
  box-sizing: border-box;
}

html, body{
  height: 100%;
}
ul,li,p{
  margin: 0;
}
footer{
  height: 50px;
  line-height: 50px;
  background-color: #62f1c3;
  text-align: center;
}
/*.footer{*/
  /*position: fixed;*/
  /*width: 100%;*/
  /*bottom: 0;*/
/*}*/

.menu {
  list-style: none;
  border-bottom: 1px solid black;
  margin: 0;
  padding: 15px 0;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}
.mb-20{
  margin-bottom: 20px;
}

@-webkit-keyframes spin{
  0%{transform:rotate(0)}
  100%{transform:rotate(360deg)}
}
@-moz-keyframes spin{
  0%{-moz-transform:rotate(0)}
  100%{-moz-transform:rotate(360deg)}
}
@keyframes spin{
  0%{transform:rotate(0)}
  100%{transform:rotate(360deg)}
}
.spinner{
  /*position:fixed;*/
  /*top:0;*/
  /*left:0;*/
  /*width:100%;*/
  /*height:100%;*/
  /*z-index:1003;*/
  width: 100%;
  height: 200px;
  background: #000000;
  overflow:hidden
}
.spinner div.blob:first-child{
  display:block;
  position:relative;
  left:50%;
  top:50%;
  width:150px;
  height:150px;
  margin:-75px 0 0 -75px;
  border-radius:50%;
  box-shadow:0 3px 3px 0 rgba(255,56,106,1);
  transform:translate3d(0,0,0);
  -webkit-animation: spin 2s linear infinite;
  animation:spin 2s linear infinite;
}
.spinner div.blob:first-child:after,
.spinner div.blob:first-child:before{
  content:'';
  position:absolute;
  border-radius:50%
}
.spinner div.blob:first-child:before{
  top:5px;
  left:5px;
  right:5px;
  bottom:5px;
  box-shadow:0 3px 3px 0 rgb(255, 228, 32);
  -webkit-animation:spin 3s linear infinite;
  animation:spin 3s linear infinite;
}
.spinner div.blob:first-child:after{
  top:15px;
  left:15px;
  right:15px;
  bottom:15px;
  box-shadow:0 3px 3px 0 rgba(61, 175, 255,1);
  -webkit-animation: spin 1.5s linear infinite;
  animation:spin 1.5s linear infinite;
}

.cs-loader{
  background: #49a9ee;
  position: relative;
}

.cs-loader-inner{
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  color: #fff;
  text-align: center;
}
.cs-loader-inner label{
  font-size: 20px;
  opacity: 1;
  display: inline-block;
}
@keyframes lol {
  0% {
    opacity: 0;
    transform: translateX(-300px)
  }

  33% {
    opacity: 1;
    transform: translateX(0)
  }

  66% {
    opacity: 1;
    transform: translateX(0)
  }

  100% {
    opacity: 0;
    transform: translateX(300px)
  }
}
.cs-loader-inner label:nth-child(6) {
  animation: lol 3s infinite ease-in-out
}

.cs-loader-inner label:nth-child(5) {
  animation: lol 3s .1s infinite ease-in-out
}

.cs-loader-inner label:nth-child(4) {
  animation: lol 3s .2s infinite ease-in-out
}

.cs-loader-inner label:nth-child(3) {
  animation: lol 3s .3s infinite ease-in-out
}

.cs-loader-inner label:nth-child(2) {
  animation: lol 3s .4s infinite ease-in-out
}

.cs-loader-inner label:nth-child(1) {
  animation: lol 3s .5s infinite ease-in-out
}

.shadow-div{
  width:150px;
  height:150px;
  border-radius:50%;
  margin-right:20px;
}
.v-0{
  box-shadow:0 0 3px 0 rgba(255,56,106,1);
}
.v-3{
  box-shadow:0 3px 3px 0 rgba(255,56,106,1);
}
.v-inset-3{
  box-shadow:0 3px 3px 0 rgba(255,56,106,1) inset;
}
.v-3-{
  box-shadow:0 -3px 3px 0 rgba(255,56,106,1);
}
.v-inset-3-{
  box-shadow:0 -3px 3px 0 rgba(255,56,106,1) inset;
}
.h-0{
  box-shadow:0 0 3px 0 rgba(61, 175, 255, 1);
}
.h-3{
  box-shadow:3px 0 3px 0 rgba(61, 175, 255, 1);
}
.h-inset-3{
  box-shadow:3px 0 3px 0 rgba(61, 175, 255, 1) inset;
}
.h-3-{
  box-shadow:-3px 0 3px 0 rgba(61, 175, 255, 1);
}
.h-inset-3-{
  box-shadow:-3px 0 3px 0 rgba(61, 175, 255, 1) inset;
}


/* style */
.oa{
  overflow: auto;
}
.horizontal-flex{
  display: flex;
  flex-direction: row;
}
.abso{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.page-header{
  position: fixed;
  top:0;
  z-index: 10;
  width: 100%;
  height: 53px;
  background-color: bisque;
}
.page-content{
  padding-top: 53px;
  padding-bottom: 50px;
  /*height: calc(100vh - 53px);*/
}
.gridster-demo-container{
  height: 100%;
  background: rgba(232, 235, 237, 0.96);
  overflow-x: auto;
}
.gridster-demo-container .gridster{
  min-width: 980px;
}
.grid-item-style:hover{
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.1), 0 16px 24px 0 rgba(170,182,206,.36);
}
.grid-item-style{
  padding: 15px;
  border: 1px solid #ddd;
  cursor: move;
  background-color:#fff;
}
.grid-item-style h4{
  text-align: center;
}

/*布局*/
.wrapper{
  width: 100%;
  overflow: auto;
}

.wrapper .left{
  width: 200px;
  background-color: #5cb85c;
}
.wrapper .right{

  width: 100px;
  background-color: #66afe9;
}
.wrapper .middle{
  margin: 0 110px 0 230px;
  background-color: #A3AEFF;
}